<div id="<%= dom_id blog_article %>">
  <p>
    <strong>Created at:</strong>
    <%= blog_article.created_at %>
  </p>

  <p>
    <strong>Short title:</strong>
    <%= blog_article.short_title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog_article.content %>
  </p>

  <p>
    <strong>Word count:</strong>
    <%= blog_article.word_count %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= blog_article.publisher %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= blog_article.url %>
  </p>

  <p>
    <strong>Long url title:</strong>
    <%= blog_article.long_url_title %>
  </p>

  <p>
    <strong>Short url title:</strong>
    <%= blog_article.short_url_title %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= blog_article.caption %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= blog_article.logo %>
  </p>

</div>
